---
layout: page
title: 文章分类
header: 文章分类
group: navigation
---

<!-- Tab panes -->
<article>
  {% for category in site.categories %}
    <div>
      <a name="{{category[0]}}"></a>
      <h2 style="margin-top: 0px">{{ category[0] }}</h2>
      <ul class="list-unstyled">
        {% assign pages_list = category[1] %}
        {% for node in pages_list %}
          {% if node.title != null %}
            {% if group == null or group == node.group %}
              <li style="line-height: 35px;list-style:none;"><a href="{{ site.BASE_PATH }}{{node.url}}">{{node.title}}</a> <span class="text-muted">- {{ node.date | date: "%B %d, %Y" }}</span></li>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
      </ul>
    </div>
  {% endfor %}
</article>

<div class="clearfix"></div>
