body{
	background-color: #333;
}

@font-face {
  font-family: 'iconfont';
  src: url("http://at.alicdn.com/t/font_1395307880_4954178.eot");
  /* IE9*/
  src: url("http://at.alicdn.com/t/font_1395307880_4954178.eot?#iefix") format("embedded-opentype"), url("http://at.alicdn.com/t/font_1395307880_9161122.woff") format("woff"), url("http://at.alicdn.com/t/font_1395307880_4053228.ttf") format("truetype"), url("http://at.alicdn.com/t/font_1395307880_9707928.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: 'iconfont'; }

.sidebar {
	padding-top: 5%;
	background-color: #333333;
	color: #fff;
}

.sidebar-header {
	text-align: center;
	margin-bottom: 10px;
}
.sidebar-header .title{
	letter-spacing: 3px;
	text-transform: uppercase;
}

.sidebar-header .title a{
	text-decoration: none;
	color: #fff;
}

.sidebar .navigator a {
    padding: 10px;
    font-family: 'iconfont';
    -display: inline-block;
    border-radius: 50% 50% 50% 50%;
    color: #aaaaaa;
    border: 1px solid #000;
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    text-decoration: none; 
}

.sidebar .navigator a:hover {
	color: white;
}

.sidebar .category ul {
      list-style: none;
      margin: 40px 40px;
      -webkit-padding-start: 0px; }
      .sidebar .category ul li {
        border-bottom: 1px solid #aaaaaa;
        height: 40px; }
        .sidebar .category ul li a {
          display: block;
          line-height: 40px;
          text-decoration: none;
          color: #aaaaaa;
          width: 100%; }
          .sidebar .category ul li a:hover, .sidebar .category ul li a:focus {
            color: #fff; }
            .sidebar .category ul li a:hover span, .sidebar .category ul li a:focus span {
              border: 1px solid #fff; }
          .sidebar .category ul li a span {
            display: inline-block;
            float: right;
            border: 1px solid #aaaaaa;
            border-radius: 15px 15px 15px 15px;
            padding: 0px 8px;
            line-height: 20px;
            margin-top: 10px; }

.sidebar .tags {
	line-height: 1.5; margin: 40px 40px; }
  .sidebar .tags a {
    color: #aaaaaa;
    display: inline;
    text-decoration: none; }
    .sidebar .tags a:focus, .sidebar .tags a:hover {
      color: white;
      text-decoration: underline; }
.sidebar .foot a {
  color: #aaaaaa;
  text-decoration: none; }
  .sidebar .foot a:focus, .sidebar .foot a:hover {
    color: white; }


#bio {
	font-size: 11px;
	margin: 0 auto;
	margin-bottom: 22px;
}

.page-header {
	padding: 0 5% 0;
  margin: 0 0 20px;
}

@media(min-width:768px){
  .pager li.hidden-xs{
    display: inline!important;
  }
}


article .share .facebook:hover {
	color: #43609C;
	border-color: #43609C;
}
article .share .gplus:hover {
	color: #C13929;
	border-color: #C13929;
}

article{
	margin-bottom: 40px;
}

.article_body{
	margin-top: 20px;
	margin-bottom: 20px;
}

/*.post-date {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3px;
}*/

article {
	padding: 0 5% 0;
}

article.home div a, article.home pre a { color: #2c3e50; }
article.home div a:hover, article.home pre a:hover { color: #2c3e50; text-decoration: none; }
article img { max-width: 100%; }

#sideBar {
	margin-top: 30px;
}

#sideBarContents dl{
	font-size: 12px;
    margin:0;
    padding:0;
}

#sideBarContents dt{
    margin-top:5px;
    margin-left:8px;
}

#sideBarContents dd, dt {
    cursor: pointer;
}

#sideBarContents dd {
    margin-left: 30px;
}

#sideBarContents dd:hover, dt:hover {
    color:#1abc9c;
}

.alipay-qcode-container {
  width: 160px;
  height: 160px;
  position: relative;
  border: 5px solid #EA5F00;
  border-radius: 10px;
}

.alipay-qcode-container img {
  display: block;
  width: 140px;
  height: 140px;
  position: absolute;
  top: 5px;
  left: 5px;
}
