@font-face {
  font-family: 'iconfont';
  src: url("http://at.alicdn.com/t/font_1395307880_4954178.eot");
  /* IE9*/
  src: url("http://at.alicdn.com/t/font_1395307880_4954178.eot?#iefix") format("embedded-opentype"), url("http://at.alicdn.com/t/font_1395307880_9161122.woff") format("woff"), url("http://at.alicdn.com/t/font_1395307880_4053228.ttf") format("truetype"), url("http://at.alicdn.com/t/font_1395307880_9707928.svg#iconfont") format("svg");
  /* iOS 4.1- */ }

.iconfont {
  font-family: 'iconfont'; }

.sidebar {
	-position: fixed;
	-top: 0px;
	padding-top: 3%;
	background-color: #333333;
	color: #fff;
	height: :100%;
}

.sidebar-header {
	text-align: center;
	margin-bottom: 10px;
}
.sidebar-header .title{
	letter-spacing: 3px;
	text-transform: uppercase;
}

.sidebar-header .title a{
	text-decoration: none;
	color: #fff;
}

.sidebar .navigator a {
    padding: 10px;
    font-family: 'iconfont';
    -display: inline-block;
    border-radius: 50% 50% 50% 50%;
    color: #aaaaaa;
    border: 1px solid #000;
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.1), 0 -1px 0 rgba(0, 0, 0, 0.5);
    text-decoration: none; 
}

.sidebar .navigator a:hover {
	color: white;
}

.sidebar .category ul {
      list-style: none;
      margin: 40px 40px;
      -webkit-padding-start: 0px; }
      .sidebar .category ul li {
        border-bottom: 1px solid #aaaaaa;
        height: 40px; }
        .sidebar .category ul li a {
          display: block;
          line-height: 40px;
          text-decoration: none;
          color: #aaaaaa;
          width: 100%; }
          .sidebar .category ul li a:hover, .sidebar .category ul li a:focus {
            color: #fff; }
            .sidebar .category ul li a:hover span, .sidebar .category ul li a:focus span {
              border: 1px solid #fff; }
          .sidebar .category ul li a span {
            display: inline-block;
            float: right;
            border: 1px solid #aaaaaa;
            border-radius: 15px 15px 15px 15px;
            padding: 0px 8px;
            line-height: 20px;
            margin-top: 10px; }

.sidebar .tags {
	line-height: 1.5; margin: 40px 40px; }
  .sidebar .tags a {
    color: #aaaaaa;
    display: inline;
    text-decoration: none; }
    .sidebar .tags a:focus, .sidebar .tags a:hover {
      color: white;
      text-decoration: underline; }
.sidebar .foot a {
  color: #aaaaaa;
  text-decoration: none; }
  .sidebar .foot a:focus, .sidebar .foot a:hover {
    color: white; }



a.nav-link {
	padding-bottom: 5px;
	padding-top: 7px;
	color: #aaa;
}
a.nav-link i{
	font-size: 16px;
}
a.nav-link:hover { color: #777 }

#bio {
	font-size: 11px;
	margin: 0 auto;
	margin-bottom: 10px;
}

#contact-list li .fa,
article .share .btn {
	-o-transition:color .2s ease-out, background 1s ease-in;
  -ms-transition:color .2s ease-out, background 1s ease-in;
  -moz-transition:color .2s ease-out, background 1s ease-in;
  -webkit-transition:color .2s ease-out, background 1s ease-in;
  transition:color .2s ease-out, background 1s ease-in;
}
#contact-list li:hover .fa-twitter,
article .share .twitter:hover {
	color: #00ACEE;
	border-color: #00ACEE;
}
#contact-list li:hover .fa-linkedin {
	color: #1D87BD;
}
#contact-list li:hover .fa-envelope {
	color: #E93E30;
}
#contact-list li:hover .fa-pinterest {
	color: #CC2127;
}
#contact-list li:hover .fa-rss {
	color: #e74c3c;
}

.page-header {
	padding: 0 5% 0;
}

article .share .facebook:hover {
	color: #43609C;
	border-color: #43609C;
}
article .share .gplus:hover {
	color: #C13929;
	border-color: #C13929;
}

#contact-list-secondary {
	padding-bottom: 10px;
}


article{
	margin-bottom: 40px;
}

.article_body{
	margin-top: 20px;
	margin-bottom: 20px;
}

/*.post-date {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 3px;
}*/

article {
	padding: 0 5% 0;
}

article.home div a, article.home pre a { color: #2c3e50; }
article.home div a:hover, article.home pre a:hover { color: #2c3e50; text-decoration: none; }
article img { max-width: 100%; }


.author .author-image {
  float: left;
  margin-right: 20px;
}

footer {
	padding-top: 15px;
	font-family: 'Ubuntu';
}

/* nav-vertical-tabs component */
.nav-tabs-vertical {
    border-right: 1px solid #ddd;
}

.nav-tabs-vertical li {
    margin-right: -1px;
}

.nav-tabs-vertical>li.active>a, .nav-tabs-vertical>li.active>a:hover, .nav-tabs-vertical>li.active>a:focus {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-right-color: transparent;
}

.nav-tabs-vertical>li>a {
    line-height: 1.428571429;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
}

.badge { background: #F2756A; }

#nav-menu{
    position: fixed;
    top: 45px;
    right: 45px;
    z-index: 2000;
}
#nav-menu .dropdown-menu {
    left: inherit;
    right: 0px;
}
